body {
    text-align: center;
    margin: 20px;
}

h3 { 
    color: blueviolet;
    background-color: aquamarine;
    padding: 20px;
}

img {
    max-height: 500px;
}

.home-tab {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
.home-tab .active

.menu-tab {

}

.contact-tab {

}
